* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: black;
    --color-two: red;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
}

body {
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.card {
    border-radius: 2rem;
    box-shadow: .8rem .8rem 1.5rem rgba(0, 0, 0, .7),
    -.8rem -.8rem 1.5rem rgba(0, 0, 0, .7);
    background-color: white;
}

.container {
    width: 80%;
    height: 90%;
    border-radius: 2rem;
    margin: 0 auto;
    perspective: 20rem;
    position: relative;
}

.biz-card {
    transition: transform 1s ease-in;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* animation: anim_biz 3s linear 1; */
    /* transition: all 3s ease-in; */
}

/* .biz-card.rotate  {
    transform: rotateY(180deg);
} */

.biz-child {
    background-color: rgba(0, 0, 0, .57);
    backdrop-filter: blur(.15rem);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    backface-visibility: hidden;
}

.biz-child.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.back {
    transform: rotateY(180deg);
}

i {
    color: white;
}

body > .coffee {
    position: absolute;
}

body > .coffee i {
    font-size: 4rem;
    animation: anim_coffee 3s linear infinite;
}

.biz-child.card.hidden {
    display: none;
}

@media screen and (max-width: 1045px) {
    body .biz-card > .contact .shape {
        top: calc(50% - 13rem);
        left: 10%;
        width: 26rem;
        height: 26rem;
    }
}

@media screen and (max-width: 881px) {
    body .intro p.name {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 818px) {
    body .btn {
        font-size: 1.8rem;
    }
    body .main .left .tech {
        grid-template-columns: repeat(4, 1fr);
    }
    body .main > .child {
        padding: 0rem;
    }

    body .social {
        padding-top: .5rem;
    }

    body .right .intro {
        margin-top: 15%;
    }

    body .biz-card .about .intro {
        width: 55%;
    }

    body .about .contact {
        top: 50%;
        width: 55%;
    }

    body .about .contact p {
        margin-bottom: 1rem;
    }

    body .about .contact p i {
        margin-right: 1.2rem;
    }

    body .about .intro p.name {
        font-size: 2.5rem;
    }
    
    body .about .intro p.role {
        font-size: 1.3rem;
    }

    body .biz-card > .contact::after {
        right: -26%;
    }

    body .biz-card > .contact .shape {
        top: calc(50% - 11rem);
        width: 22rem;
        height: 22rem;
    }
}

@media screen and (max-width: 690px) {
    body .main::before {
        top: -60%;
        right: -10%;
        width: 120%;
        height: 50rem;
    }

    body .main > .child.right {
        display: flex;
        flex-direction: column;
    }

    body .right .intro {
        justify-self: center;
        margin: 0;
    }

    body .intro p {
        text-align: center;
    }

    body .main .left .tech {
        grid-template-columns: repeat(6, 1fr);
    }

    body .right .footer {
        border: none;
    }
    
    body .biz-child.main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    body .main > .child {
        padding: 1rem;
    }

    body .container {
        width: 90%;
        height: 98%;
        perspective: 20rem;
        position: relative;
    }

    body .intro p.name {
        font-size: 2.2rem;
    }

    body .intro p.role {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }

    body .btn {
        font-size: 1.2rem;
    }

    body .about .contact p i {
        display: block;
    }

    body .about .contact {
        top: 45%;
    }

    body .about .intro p.name {
        font-size: 2rem;
    }
    
    body .about .intro p.role {
        font-size: 1.2rem;
    }

    body .about .summary {
        padding: 1rem;
        font-size: 1.5rem;
    }

    body .biz-card > .contact .shape {
        top: calc(50% - 9rem);
        left: 6%;
        width: 18rem;
        height: 18rem;
    }

    body .biz-card > .contact .contact-form {
        padding-left: 1rem;
    }

    body .shape .item img {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 502px) {
    body .biz-card .about .intro {
        top: 5%;
        right: 0;
        width: 95%;
        height: 10%;
    }

    body .biz-card .about::before {
        height: 100%;
        width: 100%;
        clip-path: none;
    }

    body .biz-card .about::after {
        top: 85%;
        bottom: 10%;
        height: 10%;
        width: 100%;
        clip-path: none;
    }

    body .biz-card .about .contact {
        top: 85%;
        height: 10%;
        width: 100%;
        padding: 0rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    body .about .contact p i {
        display: inline;
        margin-right: .2rem;
    }

    body .about .contact p {
        margin: 0rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }

    body .about .summary {
        position: relative;
        top: 8rem;
        width: 100%;
        align-items: flex-start;
        padding: 1rem;
        font-size: 1.5rem;
    }

    body .biz-card > .contact .contact-form {
        width: 57%;
        padding-left: .5rem;
    }

    body .shape .item img {
        width: 5rem;
        height: 5rem;
    }
    
    .biz-card > .contact::after {
        display: none;
    }

    body .biz-card > .contact::before {
        width: 60%;
    }
    
    body .biz-card > .contact .shape {
        top: calc(50% - 6rem);
        left: 2%;
        width: 12rem;
        height: 12rem;
        box-shadow: 1rem .2rem 3rem rgb(61, 60, 60);
    }

    body .shape .item img {
        width: 3rem;
        height: 3rem;
    }

    body .projects-container .project-row {
        flex-direction: column;
        width: 100%;
        height: 90%;
    }

    body .biz-card .projects::before, 
    body .biz-card .projects::after {
        height: 10%;
        background: rgba(245, 162, 30, .8);
    }

    body .projects-container .project-item {
        width: 100%;
        height: 100%;
        margin: .2rem;
    }
}

@media screen and (max-width: 410px) {
    body .main .left .tech {
        grid-template-columns: repeat(4, 1fr);
    }

    body .biz-card .about .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    body .biz-card > .contact .shape {
        display: none;
    }

    body .biz-card > .contact .contact-form {
        width: 100%;
        padding: 2rem;
    }

    body .main .left .tech {
        grid-template-columns: repeat(4, 1fr);
    }

    body .about .contact p {
        margin: 0rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 300px) {
    body .main .left .tech {
        grid-template-columns: repeat(3, 1fr);
    }

    body .socials{
        display: none;
    }

    body .about .summary {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 250px) {
    body .title {
        font-size: 1.4rem;
    }
    body .buttons {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
    }
    body .btn {
        margin-bottom: 1rem;
    }

    body .about .intro p.name {
        font-size: 1.5rem;
    }
    
    body .about .intro p.role {
        font-size: 1.1rem;
    }
}

@keyframes anim_coffee {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body > span {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    opacity: 0;
}

span.php {
    animation: anim_php 3s linear infinite;
}

span.react {
    animation: anim_react 3s linear infinite;
    animation-delay: 1.5s;
}

span.java {
    animation: anim_java 3s linear infinite;
    animation-delay: .75s;
}

span.css {
    animation: anim_css 3s linear infinite;
    animation-delay: 2.25s;
}

span.code_php {
    transform: rotateZ(45deg);
    animation: anim_code_php 3s linear infinite;
    animation-delay: .375s;
}

span.code_react {
    transform: rotateZ(225deg);
    animation: anim_code_react 3s linear infinite;
    animation-delay: 1.875s;
}

span.code_java {
    transform: rotate(135deg);
    animation: anim_code_java 3s linear infinite;
    animation-delay: 1.075s;
}

span.code_css {
    transform: rotate(315deg);
    animation: anim_code_css 3s linear infinite;
    animation-delay: 2.575s;
}

.main::before {
    content: '';
    position: absolute;
    top: -35%;
    right: -8%;
    background-color: rgb(228, 47, 56);
    width: 60%;
    height: 75%;
    border-radius: 50%;
}

.main::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, red 0% 20%, orange 20% 40%, green 40% 60%, brown 60% 80%, yellow 80% 100%);
    height: 4%;
    z-index: 2;
}

.main > .child {
    z-index: 1;
    padding: 2rem;
}

.main > .child.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 4rem;
}

.main .left .tech {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
}

.social {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .item {
    transition: all .3s;
}

.social .item:hover {
    transform: scale(1.2);
}

.main .left .tech:last-child {
    justify-content: center;
}

.main .left .item {
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: none;
    cursor: pointer;
    color: white;
    transition: transform .3s ease-in-out;
}

.main .left .tech-stack .tech .item:hover {
    background: red;
    transform: scale(1.2);
    box-shadow: 0 .1rem .5rem rgba(255, 255, 255, 1);
}

.main .left .tech-stack .tech .item:hover .logo,
.main .left .tech-stack .tech .item:hover .name {
    transform: scale(1.2);
}

.main .left .item .logo {
    width: 4rem;
}

.main .left .item .name {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
}

.title {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: relative;
    display: inline;
}

.center {
    display: flex;
    justify-content: center;
}

.title::before {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 20%;
    right: 20%;
    text-align: center;
    height: .2rem;
    background-color: red;
}

.main .nav {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 2;
}

.main .nav .nav-items {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.main .nav .nav-items .nav-item {
    padding: 0 1rem;
}

.main .nav .nav-items .nav-item a {
    transition: all .2s ease-in;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.main .nav .nav-items .nav-item a:hover {
    color: red;
    font-size: 1.5rem;
}

.main > .child.right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 0;
}

.right .intro {
    justify-self: end;
    margin-top: 3%;
    margin-right: 1%;
}

.intro p {
    color: white;
    text-transform: uppercase;
}

.intro p.name {
    font-weight: 900;
    font-size: 3rem;
}

.intro p.role {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.right .footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: .2rem dotted #d8d8d8;
}

.buttons {
    margin-top: 2rem;
}

.btn {
    white-space: nowrap;
    padding: .8rem 2.2rem;
    background: var(--color-two);
    font-weight: 400;
    border-radius: .4rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    border: .3rem solid var(--color-two);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all .1s;
    outline: none;
}

.btn.outline {
    background: none;
}

.btn.outline:hover {
    background: red;
}

.btn:hover {
    background: none;
}

.biz-card .about {
    position: relative;
    color: white;
}

.biz-card .about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 55.7%;
    z-index: -1;
    background-image: repeating-linear-gradient(45deg , rgba(255, 0, 0, 0.57) 0% .2%, transparent .2% .4%),
    repeating-linear-gradient(-45deg , rgba(255, 0, 0, 0.57) 0% .2%, transparent .2% .4%),
    repeating-linear-gradient(0deg, rgba(255, 0, 0, 0.57) 0% .2%, transparent .2% .4%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.biz-card .about::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55.5%;
    z-index: -1;
    background: rgb(245, 162, 30);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.biz-card .about .intro {
    position: absolute;
    top: 20%;
    right: 0;
    width: 60%;
    height: 20%;
    background-color: rgb(190, 54, 54);
    box-shadow: 2rem 1rem 3.1rem  rgb(190, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.biz-card .about .intro::before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skewY(34deg);
    transform-origin: left;
    background-color: red;
    z-index: -1;
}

.about .intro p.name {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
}

.about .intro p.role {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.about .contact {
    position: absolute;
    top: 60%;
    right: 0;
    width: 50%;
    padding: 2rem;
}

.about .contact p {
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.about .summary {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    z-index: 1;
    font-size: 1.5rem;
    text-align: justify;
}

.about .contact p i {
    margin-right: 2rem;
}

.prev {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 4rem;
    background: red;
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem black;
    transform: scale(1.0);
    transition: all .5s;
}

.biz-card .projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background: rgb(245, 162, 30);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 40% 50%, 35% 100%, 0 100%);
}

.biz-card .projects::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    background: rgb(245, 162, 30);
    clip-path: polygon(0 50%, 60% 50%, 65% 0%, 100% 0%, 100% 100%, 0 100%);
}

.biz-card .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.biz-card .projects .card-title {
    font-size: 4rem;
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 3;
    display: inline;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .5rem 1rem;
}

.biz-card .projects .projects-container {
    width: 100%;
    height: 100%;
    padding: .5% .0;
    display: block;
    row-gap: .5rem;
    column-gap: .5rem;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.projects-container .project-row {
    display: flex;
    width: 100%;
    height: 70%;
    /* margin: .4rem; */
    padding: .3rem;
    margin-bottom: 1rem;
}

.projects-container .project-item {
    border-radius: 1rem;
    border: .1rem solid rgb(121, 118, 118);
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    margin: 0 .5rem;
    /* box-shadow: .2rem .3rem .3rem rgb(121, 118, 118); */
    z-index: 1;
    background-clip: padding-box;
    transition: all .1s ease-in;
}

.projects-container .project-1,
.projects-container .project-2 {
    margin-top: 5.5%;
}

.projects-container .project-3 {
    margin-bottom: 5%;
}

.projects-container .project-item img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 2;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    position: relative;
    transition: all .5s ease-in;
    perspective: 80rem;
}

.projects-container .project-item:hover {
    transform: scale(1.02);
    box-shadow: .3rem .3rem .3rem rgb(121, 118, 118), 
                -.3rem -.3rem .3rem rgb(121, 118, 118);
}

.projects-container .project-item:hover img {
    /* transform: scale(1.2); */
    /* top: -40%;
    left: -40%;
    box-sizing: border-box; */
}

.project-item .project-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.project-item .project-desc h5 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .05rem;
    display: inline;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: .4rem;
}

.project-item .project-desc p {
    font-weight: 500;
}

.biz-card > .contact::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20%;
    height: 100%;
    width: 100%;
    background: rgb(37, 37, 37);
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

.biz-card > .contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: rgb(37, 37, 37);
    z-index: -2;
}

.biz-card > .contact {
    background-color: rgb(255, 143, 10);
}

.biz-card > .contact .shape {
    position: absolute;
    left: 15%;
    top: calc(50% - 15rem);
    background-color: rgb(32, 32, 32);
    z-index: 1;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3rem .2rem 3rem black;
}

.biz-card > .contact .shape::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(50% 0, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 50% 100%, 40% 60%, 0 50%, 40% 40%);
}

.shape .item {
    position: absolute;
    margin: .5rem;
}

.shape .item.skype {
    top: 0;
    left: 0;
}

.shape .item.linkedin {
    top: 0;
    right: 0;
}

.shape .item.twitter {
    bottom: 0;
    left: 0;
}

.shape .item.github {
    bottom: 0;
    right: 0;
}

.shape .item img {
    width: 6rem;
    height: 6rem;
    transition: all .3s;
}

.shape .item img:hover {
    transform: scale(1.1);
    /* box-shadow: .5rem .5rem 2rem black; */
}

.biz-card > .contact .contact-form {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4rem 2rem 4rem 4rem;
}

.biz-card > .contact form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form .form-control {
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    border: .1rem solid #222;
    border-radius: .3rem;
    margin: .3rem;
    color: rgb(37, 36, 36);
    font-size: 2rem;
    /* font-weight: 600; */
}

textarea {
    resize: none;
}

.contact form .form-control::placeholder {
    color: rgb(37, 36, 36);
}

.prev:hover {
    transform: scale(1.1);
}

.prev.hidden {
    transform: scale(0);
}



@keyframes anim_biz {
    0% {
        transform: scale(.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes anim_code_php {
    50% {
        opacity: .5;
        transform: translateX(25vw) translateY(-25vh);
    }

    100% {
        opacity: 1;
        transform: translateX(50vw) translateY(-50vh);
    }
}

@keyframes anim_code_java {
    50% {
        opacity: .5;
        transform: translateX(25vw) translateY(25vh);
    }

    100% {
        opacity: 1;
        transform: translateX(50vw) translateY(50vh);
    }
}

@keyframes anim_code_react {
    50% {
        opacity: .5;
        transform: translateX(-25vw) translateY(25vh);
    }

    100% {
        opacity: 1;
        transform: translateX(-50vw) translateY(50vh);
    }
}

@keyframes anim_code_css {
    50% {
        opacity: .5;
        transform: translateX(-25vw) translateY(-25vh);
    }

    100% {
        opacity: 1;
        transform: translateX(-50vw) translateY(-50vh);
    }
}

@keyframes anim_php {
    50% {
        opacity: .5;
        transform: translateY(-25vh);
    }

    100% {
        opacity: 1;
        transform: translateY(-50vh);
    }
}

@keyframes anim_react {
    50% {
        opacity: .5;
        transform: translateY(25vh);
    }

    100% {
        opacity: 1;
        transform: translateY(50vh);
    }
}

@keyframes anim_java {
    50% {
        opacity: .5;
        transform: translateX(25vw);
    }

    100% {
        opacity: 1;
        transform: translateX(50vw);
    }
}

@keyframes anim_css {
    50% {
        opacity: .5;
        transform: translateX(-25vw);
    }

    100% {
        opacity: 1;
        transform: translateX(-50vw);
    }
}